In [1]:
import pandas as pd

In [5]:
file_path = r"D:\Data Science\Machine Learning\Projects\machine_learning_project\housing\artifact\data_ingestion\2023-07-20-11-40-40-26\ingested_data\train\housing.csv"

In [6]:
df = pd.read_csv(file_path)

In [7]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-121.46,38.52,29.0,3873.0,797.0,2237.0,706.0,2.1736,72100.0,INLAND
1,-117.23,33.09,7.0,5320.0,855.0,2015.0,768.0,6.3373,279600.0,NEAR OCEAN
2,-119.04,35.37,44.0,1618.0,310.0,667.0,300.0,2.8750,82700.0,INLAND
3,-117.13,32.75,24.0,1877.0,519.0,898.0,483.0,2.2264,112500.0,NEAR OCEAN
4,-118.70,34.28,27.0,3536.0,646.0,1837.0,580.0,4.4964,238300.0,<1H OCEAN

In [ ]:
df.shape()

In [10]:
x,y = df.drop(columns=["median_house_value"], axis=1), df[["median_house_value"]]

In [12]:
x.shape

(16512, 9)

In [13]:
y.shape

(16512, 1)

In [14]:
x.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        158
population              0
households              0
median_income           0
ocean_proximity         0
dtype: int64

In [15]:
from sklearn.impute import SimpleImputer

In [16]:
simple_imputer = SimpleImputer(strategy="median")

In [17]:
numerical_column = x.drop(columns=['ocean_proximity'], axis=1)

In [18]:
simple_imputer.fit_transform(numerical_column)

array([[-1.2146e+02,  3.8520e+01,  2.9000e+01, ...,  2.2370e+03,
         7.0600e+02,  2.1736e+00],
       [-1.1723e+02,  3.3090e+01,  7.0000e+00, ...,  2.0150e+03,
         7.6800e+02,  6.3373e+00],
       [-1.1904e+02,  3.5370e+01,  4.4000e+01, ...,  6.6700e+02,
         3.0000e+02,  2.8750e+00],
       ...,
       [-1.2272e+02,  3.8440e+01,  4.8000e+01, ...,  4.5800e+02,
         1.7200e+02,  3.1797e+00],
       [-1.2270e+02,  3.8310e+01,  1.4000e+01, ...,  1.2080e+03,
         5.0100e+02,  4.1964e+00],
       [-1.2214e+02,  3.9970e+01,  2.7000e+01, ...,  6.2500e+02,
         1.9700e+02,  3.1319e+00]])

In [19]:
df = simple_imputer.transform(numerical_column)

In [23]:
simple_imputer.feature_names_in_

AttributeError: 'SimpleImputer' object has no attribute 'feature_names_in_'

In [24]:
simple_imputer.statistics_

array([-118.51   ,   34.26   ,   29.     , 2119.     ,  433.     ,
       1164.     ,  408.     ,    3.54155])

In [26]:
x.longitude.median()

-118.51

In [27]:
x.latitude.median()

34.26

In [29]:
x.ocean_proximity.value_counts()

<1H OCEAN     7277
INLAND        5262
NEAR OCEAN    2124
NEAR BAY      1847
ISLAND           2
Name: ocean_proximity, dtype: int64

In [30]:
simpler_imputer = SimpleImputer(strategy="most_frequent")

In [ ]:
fit, transform and fit_transform

In [35]:
from sklearn.base import BaseEstimator, TransformerMixin

In [ ]:
class FeatureGenerator(BaseEstimator, TransformerMixin):
    def __init__(self, strategy="median"):
        self.strategy = strategy

    def fit(self,X):
        self.features=X.columns
        self.statistic_ = []
        for column in X.columns:
            self.statistic_.append(X[column].median())

    def transform(self,X:pd.DataFrame):
        for idx,column in X.columns:
            x[column].fillna(self.statistic_[idx])
            return X

    # def fit_transform(self,X):
    #     self.fit(X)
    #     return self.transform(X)

In [34]:
for idx,column in enumerate(x.columns):
    print(idx,column)

0 longitude
1 latitude
2 housing_median_age
3 total_rooms
4 total_bedrooms
5 population
6 households
7 median_income
8 ocean_proximity